@font-face {
  font-family: 'Indie Flower';

}
html{
  background-color: #02010a;
}
#Cabecera {
  font-family: Indie Flower;
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}
#Cabecera h1{
  text-shadow: 2px 2px #02010a;
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: inline;
}
#Cabecera ol{
  color: white;
  float: right;
  margin-top: 0.5%;
  margin-right: 0.5%;
  text-decoration:none;
}
.Central{
  background-color: #82c3a6;
	display:block;
}
.Central img{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.Secundaria{
  background-color: #d5c75f;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
#imagen-izquierda{
  margin: 15%;
}
#imagen-izquierda:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  -webkit-box-shadow: 2px 2px #82c3a6;
  -moz-box-shadow: 20px 2px #82c3a6;
}
#imagen-derecha{
  margin: 15%;
}
#imagen-derecha:hover{
  transform:translate(20px,-5px);
  box-shadow: 2px 2px #82c3a6;
  -webkit-box-shadow: 2px 2px #82c3a6;
  -moz-box-shadow: 20px 2px #82c3a6;
}
footer{
  background-color: #C6d5c5;
  display:flex;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}
.contacto{
  margin: 5%;
}
.terminos{
  margin: 5%;
}
.redes-sociales{
  margin: 5%;
}
.derechos{
  margin: 5%
}
