#Cabecera {
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}
#Cabecera h1{
  text-shadow: 2px 2px #02010a;
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: inline;
}
#Cabecera ol{
  float: right;
  margin-top: 0.5%;
  margin-right: 0.5%;
  text-decoration:none;
}
.Central{
  background-color: #82c3a6;
	display:block;
}
.Central img{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 1%;
  margin-bottom: 1%;
}
